$color_main_regular: #323264;
$color_alt: #46466e;
$color_soft: #686887;
$color_accent: #f0145a;
$color_active_regular: #24a3ff;
$color_active_hover: #0085ff;
$color_active_active: #006ccf;
$color_bg: #f5f5fa;
$color_bg_alt: #ededf7;
$color_text: #b3b3ba;
$color_separator: #e6e6f0;
$color_gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$color_gradient_soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
$color_gradient_red: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
$color_gradient_supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$color_gradient_red_text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$color_white: #ffffff;
$color_black: #000000;
