* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  padding: 50px 160px 60px 160px;
  display: flex;
  justify-content: space-between;
}
.header .logo-block {
  display: flex;
  align-items: flex-start;
}
.header .logo-block .breadcrumb {
  display: flex;
}
.header .logo-block .logo-link {
  align-self: center;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}
.header .logo-block .logo-link-white {
  color: #ffffff;
}
.header a {
  text-decoration: none;
}
.header .nav-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header .nav-location .location {
  display: flex;
  align-items: center;
}
.header .nav-location .location input#btnradio1,
.header .nav-location .location input#btnradio2,
.header .nav-location .location input#btnradio3 {
  display: none;
}
.header .nav-location .location .btn {
  padding: 5px 7px;
}
.header .nav-location .location .btn-check:checked + .btn {
  background: #f0145a;
  border: 1px solid #f0145a;
  border-radius: 8px;
  color: #ffffff;
}
.header .nav-location .location .location__language {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.header .nav-location .location .location__language:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header .nav-location .location__adress, .header .nav-location .location__tell {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .nav-location .location__adress::before, .header .nav-location .location__tell::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 50%;
  margin: 0 6px;
  position: relative;
  bottom: 2px;
}
.header .nav-location .location__adress::after {
  display: none;
}
.header .nav-location .location__tell {
  font-weight: 700;
}
.header .nav-location .location__facebook {
  font-size: 24px;
  color: #ffffff;
}
.header .nav-location .location__facebook .fa-facebook:hover {
  color: #f0145a;
  transition: all 0.4s;
}
.header .nav-location .location__facebook::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 50%;
  margin: 0 6px;
  position: relative;
  bottom: 4px;
}
.header .nav-location .nav {
  min-width: 416px;
  display: flex;
  justify-content: flex-end;
}
.header .nav-location .nav__link {
  margin-left: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  border-bottom: 2px solid transparent;
}
.header .nav-location .nav__link:first-child {
  margin: 0;
}
.header .nav-location .nav__link:hover {
  border-color: #ffffff;
}
.header .nav-location .nav__link.active {
  color: #f0145a;
  border-color: #f0145a;
}
.header .nav-location .nav .nav-close {
  display: none;
}
.header .nav-location .burger {
  display: none;
}

.header-light .nav-location .location .location__language {
  color: #b3b3ba;
}
.header-light .nav-location .location .location__language:hover {
  background: #f5f5fa;
  border-radius: 8px;
}
.header-light .nav-location .location__adress, .header-light .nav-location .location__tell {
  color: #b3b3ba;
}
.header-light .nav-location .location__facebook {
  color: #b3b3ba;
}
.header-light .nav-location .nav__link {
  color: #24a3ff;
}
.header-light .nav-location .nav__link:hover {
  border-color: #24a3ff;
}
.header-light .nav-location .nav__link.active:hover {
  border-color: #f0145a;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 50px 60px 60px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    padding: 105px 60px 60px;
    position: relative;
    flex-direction: column;
    align-items: start;
  }
  .header .logo-block {
    padding: 0 0 30px 0;
  }
  .header .location {
    position: absolute;
    top: 30px;
    left: 60px;
  }
  .header .nav-location .nav {
    justify-content: flex-start;
    padding-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    flex-direction: row;
    position: static;
    padding: 60px 15px 0 15px;
  }
  .header .logo {
    padding: 0;
  }
  .header .nav-location .location {
    top: 0;
    left: 0;
    min-width: calc(100% - 40px);
    max-height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(245, 245, 250, 0.2);
  }
  .header .nav-location .location__tell::before {
    display: none;
  }
  .header .nav-location .burger {
    display: block;
  }
  .header .location__adress,
  .header .location__facebook {
    display: none;
  }
  /*----------------------------------------------------------*/
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .show-flex {
    display: flex;
  }
  .overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #323264;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .header .nav-location .nav {
    margin: 0 8px;
    padding: 64px 12px 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: calc(100% - 40px);
    flex-direction: column;
    z-index: 2;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
  }
  .header .nav-location .nav__link {
    margin: 0;
    margin-bottom: 15px;
    padding: 7px 0;
    color: #24a3ff;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: #f5f5fa;
    border-radius: 12px;
    border-bottom: none;
  }
  .header .nav-location .nav__link:first-child {
    margin-bottom: 15px;
  }
  .header .nav-location .nav__link:last-child {
    margin-bottom: 0;
  }
  .header .nav-location .nav .nav-close {
    position: absolute;
    top: 19px;
    right: 19px;
    color: #ec6f5d;
    font-size: 18px;
  }
  .header .nav-location .nav__link.active {
    color: #f0145a;
  }
}
.footer {
  background: #f5f5fa;
}
.footer__bottom {
  padding: 30px 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .location__adress {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer .location__adress::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 50%;
  margin: 0 6px;
  position: relative;
  bottom: 2px;
  background: #b3b3ba;
  margin: 0 10px;
}
.footer .location__map {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin: 0;
}

.bottom__contact {
  min-height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
}
.social__facebook {
  font-size: 38px;
  color: #24a3ff;
  transition: all 0.4s;
}
.social__facebook:hover {
  color: #f0145a;
}
.social__tell {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}
.social__tell::after, .social__tell::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #e6e6f0;
  border-radius: 50%;
  margin: 0 6px;
  position: relative;
  bottom: 2px;
  background: #b3b3ba;
  margin: 0 10px;
}
.social__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  transition: all 0.4s;
}
.social__email:hover {
  color: #f0145a;
}

.copyright {
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}

@media screen and (max-width: 1440px) {
  .footer__bottom {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 800px) {
  .footer__bottom {
    position: relative;
  }
  .footer__bottom .copyright {
    position: absolute;
    right: 60px;
    top: 30px;
  }
}
@media screen and (max-width: 685px) {
  .footer__bottom {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    position: static;
  }
  .footer__bottom .contact__location,
  .footer__bottom .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom .contact__location__facebook, .footer__bottom .contact__location__tell,
  .footer__bottom .social__facebook,
  .footer__bottom .social__tell {
    margin-bottom: 10px;
  }
  .footer__bottom .contact__location__email,
  .footer__bottom .social__email {
    margin-bottom: 30px;
  }
  .footer__bottom .social__tell::after,
  .footer__bottom .social__tell::before {
    display: none;
  }
  .footer__bottom .location__adress {
    margin-bottom: 10px;
  }
  .footer__bottom .location__adress::after {
    display: none;
  }
  .footer__bottom .location__map {
    margin-bottom: 21px;
  }
  .footer__bottom .copyright {
    position: static;
  }
}
.main-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 280px;
  margin-bottom: 60px;
}
.main-contact .contact-social {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}
.main-contact .contact-social a {
  text-decoration: none;
}
.main-contact .contact-social__address {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
}
.main-contact .contact-social__tell {
  font-size: 21px;
  line-height: 30px;
  color: #46466e;
  margin-bottom: 15px;
}
.main-contact .contact-social__email {
  font-size: 21px;
  line-height: 30px;
  color: #24a3ff;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
}
.main-contact .contact-social__fb {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
.main-contact .contact-social__fb .fa-facebook {
  font-size: 38px;
  padding-right: 10px;
}
.main-contact .contact-social__fb .fa-facebook:hover {
  color: #f0145a;
}
.main-contact .contact-social__fb .fb__text:hover {
  color: #f0145a;
}
.main-contact__title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}
.main-contact__form {
  background: #f5f5fa;
  border-radius: 12px;
  padding: 30px;
}
.main-contact__form .form {
  display: flex;
  flex-direction: column;
}
.main-contact__form .form input,
.main-contact__form .form textarea {
  border-radius: 8px;
  background: #ffffff;
  padding: 15px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
}
.main-contact__form .form input:focus,
.main-contact__form .form textarea:focus {
  outline-color: #24a3ff;
}
.main-contact__form .form input:invalid,
.main-contact__form .form textarea:invalid {
  outline-color: #ff0000;
}
.main-contact__form .form__user-name {
  margin-bottom: 15px;
}
.main-contact__form .form__user-message {
  margin-bottom: 30px;
  resize: none;
}
.main-contact__form .form__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin-bottom: 15px;
}
.main-contact__form .form__user-tell {
  margin-bottom: 15px;
}
.main-contact__form .form__user-email {
  margin-bottom: 30px;
}
.main-contact__form .form input.form__user-btn {
  background-color: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  color: #ffffff;
}
.main-contact__form .form input.form__user-btn:hover {
  background-color: #0085ff;
}
.main-contact__form .form input.form__user-btn:active {
  background: #006ccf;
}

.button-clicked {
  background-color: #ededf7 !important;
  color: #323264 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1440px) {
  .main-contact {
    padding: 0 180px;
  }
}
@media screen and (max-width: 1024px) {
  .main-contact {
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .main-contact {
    display: flex;
    flex-direction: column;
  }
  .main-contact__social {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 576px) {
  .main-contact {
    padding: 0 30px 30px;
  }
}

/*# sourceMappingURL=contact.css.map */
