@import "../variables.scss";
@import "../mixin.scss";
@import "../common/header.scss";
@import "../common/footer-bottom.scss";

.main-contact {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   &__title {
      @include font_hero;
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 30px;
   }
   &__form {
      background: $color_bg;
      border-radius: 12px;
      padding: 30px;

      .form {
         display: flex;
         flex-direction: column;
         input,
         textarea {
            border-radius: 8px;
            background: $color_white;
            padding: 15px;
            border: none;
            @include font_paragraph($color_text);
         }
         &__user-name {
            margin-bottom: 15px;
         }
      }
   }
}
